
.body{
  background: rgb(36, 46, 58);
}
.navbar{
  padding-left: 200px;
  color: hsl(151, 78%, 44%);
  background: rgb(51, 67, 86);
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link{
    text-decoration: none;
}
.caption{
   color:rgb(221, 215, 215);
   text-align: center;
   padding: 2%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
  margin: 0px 10px 0px 10px;
  background: rgb(51, 67, 86);
  border: none;
  border-radius: 5%;
  padding: 6px 12px;
}
.button:hover{
  background: rgb(30, 158, 75);

}
.buttoncolor{
  background: rgb(30, 158, 75);
  color: whitesmoke;
}
.buttoncolor:hover{
  background: rgb(38, 195, 93);
}
.image{
  height: 40px;
  width: 40px;
}
.radius{
  border-image: 20px;
}
.editor-img{
  margin-top: 3%;
  width: 90%;
}
